<script src="https://unpkg.com/vue"></script>

<div id="app">
  <p>{{ message }}</p>
</div>

<script>

    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    })

</script>
